<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-gdc-1.0-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut" value="" />
  <parameter name="ics" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.ogcapigdc10.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapigdc10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapigdc10.TestFailureListener" />
    <listener class-name="org.opengis.cite.ogcapigdc10.TestListener" />
  </listeners>

  <test name="Capabilities">
    <packages>
      <package name="org.opengis.cite.ogcapigdc10.general"/>
      <package name="org.opengis.cite.ogcapigdc10.landingpage" />
      <package name="org.opengis.cite.ogcapigdc10.conformance" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapigdc10.SuitePreconditions" />
    </classes>
  </test>
  
  <test name="Account Management">
    <packages>
      <package name="org.opengis.cite.ogcapigdc10.authentication" />
    </packages>
  </test>
  
  <test name="Data Discovery/Access">
    <packages>
      <package name="org.opengis.cite.ogcapigdc10.datadiscovery" />
    </packages>
  </test>
  
  <test name="Process Discovery">
    <packages>
      <package name="org.opengis.cite.ogcapigdc10.processdiscovery" />
    </packages>
  </test>

  <test name="OpenEO">
    <packages>
      <package name="org.opengis.cite.ogcapigdc10.openeo" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapifeatures10.conformance.SuitePreconditions" />
    </classes>
  </test>
  
  <test name="OGC API - Processes">
    <packages> 
      <package name="org.opengis.cite.ogcapiprocesses10.process" />
      <package name="org.opengis.cite.ogcapiprocesses10.jobs" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapigdc10.SuitePreconditionsOAPIP" />
    </classes>
  </test>

  <test name="Coverages Core">
    <packages>
      <package name="org.opengis.cite.ogcapicoverages10.collections" /> 
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapicoverages10.SuitePreconditions" />
    </classes>
  </test>

  <test name="Features Core">
    <packages>
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.general" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.landingpage" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.apidefinition" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.conformance" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.collections" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapifeatures10.conformance.SuitePreconditions" />
    </classes>
  </test>

</suite>
